<h2>Please sign in to create scripts.</h2>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <% provider_name = provider.to_s.gsub("_oauth2", "") %>
    <p>
      <%= link_to omniauth_authorize_path(resource_name, provider), :class => 'btn btn-primary' do %>
      <span class='glyphicon glyphicon-user'></span>
      Sign in with <%= provider_name.titleize %>
  <% end %>
  </p>
  <% end -%>
<% end -%>
