<div class='row'>
<span class='col-md-2'>
  <span class="btn btn-primary">
    <span class='badge'>
      <%= calling_script.calls.size %>
    </span>
    calls
  </span>
</span>
<span class='col-md-7'>
  <h3><%= calling_script.topic %></h3>
  <%= calling_script.summary %>
</span>
<span class='col-md-3'>
  <% if calling_script.called_yet?(current_user, @request.remote_ip) %>
    <span class='btn'><span class="glyphicon glyphicon-check"></span>
      Called</span>
  <% else %>
    <%= link_to calling_script, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-phone"></span>
    Call Now!
  <% end %>
<% end %>
</span>
</div>
