<div class='jumbotron'>
  <h2><%= @calling_script.content %></h2>
  <div class='well'>
    <%= simple_format @calling_script.summary %>
  </div>
  <%= simple_format @calling_script.content %>
</div>

