<h2>Find my representatives</h2>
<form method="get">
  <div class="form-group">
    <div id="gmaps-error"></div>
    <input type="address" class="form-control" placeholder="Street Address, City, State, Zip" name="address" id="gmaps-input-address" />
    <small class="form-text text-muted">We don't store this information; it's just to find your representatives.</small>
  </div>
  
  <button type="submit" class="btn btn-primary">Find my reps!</button>
</form>
