<div class='jumbotron'>
  <h2>Find my representatives</h2>
  <form method="get">
    <div class="form-group">
      <div id="gmaps-error"></div>
      <input type="address" class="form-control" placeholder="Street Address, City, State, Zip" name="address" id="gmaps-input-address" value="<%= current_user.try(:address) %>" />
      <small class="form-text text-muted">We don't store this information by default; it's just to find your representatives.</small>

    

          <% if current_user %>
	<br />
      <small ><input type="checkbox" name="save_address" value="true" />
	<label for="save_address">Save this location to my profile</label></small>
      <br />
      <small ><input type="checkbox" name="delete_address" value="true" />
	<label for="delete_address">Clear location from my profile</label></small>
	  <% end %>
	      </div>
    <button type="submit" class="btn btn-primary">Find my reps!</button>	  
  </form>
</div>
