<div class="page-header">
  <%= link_to scripts_path, class: 'btn btn-default' do %>
    <span class="fa fa-list"></span>
    Back
  <% end %>
  <%= link_to script_path(@calling_script), class: 'btn btn-primary' do %>
    <span class="fa fa-phone"></span>
    Show
  <% end %>
  <h2>Editing Script</h2>
</div>

<%= render 'form', :calling_script => @calling_script %>
