<form action="/">
  <div class='container'>
    <div class='row'>
      <div class='col-xs-10'>
	<input type="text" class="form-control" placeholder="Search scripts..." name="search" />
      </div>
      <div class='col-xs-2'>
	<button type='submit' class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Go!
	</button>
      </div>
    </div>
  </div>
</form>


<%= smart_listing_render(:calling_scripts, :ip => @ip )%>
