
    <h3>
      Choose a script below (or search) to get phone numbers for your representatives and links to record your call and share the script with friends.
    </h3>
    <h4>
      If you don't see the issue you would like to call about, <a href="/scripts/new">write your own</a>!
    </h4>

<form action="/">

    <div class='row'>
      <div class='col-md-10 col-xs-8'>
	<input type="text" class="form-control" placeholder="Search scripts..." name="search" />
      </div>
      <div class='col-md-2 col-xs-4'>
	<button type='submit' class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Go!
	</button>
      </div>
    </div>

</form>




<%= smart_listing_render(:calling_scripts, :ip => @ip )%>
