<div class='row'>
  <form action="/">
    <div class='col-xs-11'>
      <input type="text" class="form-control" placeholder="Search scripts..." name="search" />
    </div>
    <div class='col-xs-1'>
      <button type='submit' class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Go!
      </button>
    </div>
</div>
<%= smart_listing_render(:calling_scripts, :ip => @ip )%>
