<div class="page-header">
  <%= link_to calling_scripts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h2>New Script</h2>
</div>

<%= render 'form' %>
