<div class="page-header">
  <%= link_to scripts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h2>New Script</h2>
</div>

<%= render 'form', :calling_script => @calling_script %>
