<div class='row scripts'>
  <div class='col-sm-6'>
    <% if @representative %>

      <%= render 'calling_info',
:representative => @representative,
:calling_script => @calling_script  %>

    <% elsif @representatives && !(@representatives.empty?) %>

      <%= render 'rep_chooser',
:representatives => @representatives,
:calling_script => @calling_script, :uid => @uid  %>

    <% else %>

      <%= render 'user_locator', :calling_script => @calling_script  %>

    <% end %>
  </div>
  
  <div class='col-sm-6'>
    <%= render 'show_script', :calling_script => @calling_script %> 
  </div>

</div>
