<div class='row'>
  <div class='col-md-6'>
    <div class='jumbotron'>
      <% if @representative %>
	<%= render :partial => 'calling_info' %>
      <% elsif @representatives %>
	<%= render :partial => 'rep_chooser' %>
      <% else %>
	<%= render :partial => 'user_locator' %>
      <% end %>
    </div>
  </div>
  <div class='col-md-6'>
    <%= render :partial => 'show_script' %>
  </div>
</div>
