	      
	      <div class='row'>
		<div class='col-sm-12 col-md-4'>
		  <span class='label label-default'>
		    <span class="glyphicon glyphicon-check"></span>
		    Called
		  </span>
		</div>
		<div class='col-sm-12 col-md-8'>
		  <a href="<%= script_path(calling_script) %>"
		     class="btn btn-secondary"> 
		  <span class="glyphicon glyphicon-phone"></span>
		  (call again)
		  </a>
		</div>
	    </div>
