<footer class='footer panel-footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6'>
        <p class='muted-text'>
        Congress Caller created by <a href="http://twitter.com/clararaubertas" ><i class='fa fa-twitter'></i>@clararaubertas</a>, <a href="http://parallactic.com">Parallactic Consulting</a>, and friends
        </p>
      </div>
      <div class='col-sm-6'>
        <p class='muted-text'>
        <a href="https://github.com/Parallactic/calling-congress/fork"><img src='https://img.shields.io/github/forks/Parallactic/calling-congress.svg?style=social&label=Fork' /></a>
        <a href="https://github.com/Parallactic/calling-congress/star"><img src='https://img.shields.io/github/stars/Parallactic/calling-congress.svg?style=social&label=Star' /></a>
        <a href="https://github.com/Parallactic/calling-congress/watch"><img src='https://img.shields.io/github/watchers/Parallactic/calling-congress.svg?style=social&label=Watch' /></a>
        &bull;
        <a href="https://github.com/Parallactic/calling-congress/issues/new"><i class='fa fa-github'></i> make a suggestion</a>
        </p>
      </div>
    </div>
  </div>
</footer>
