<footer class='footer panel-footer hidden-xs'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-md-3'>
        <p class='muted-text'>
          created by <a href="http://twitter.com/clararaubertas" ><i class='fa fa-twitter'></i>@clararaubertas</a>, <a href="http://parallactic.com">Parallactic Consulting</a>, and friends
        </p>
      </div>
      <div class='col-sm-6 col-md-3'>
        <p class='muted-text'>
        <a href="https://github.com/Parallactic/callgov/fork"><img src='https://img.shields.io/github/forks/Parallactic/callgov.svg?style=social&label=Fork' /></a>
        <a href="https://github.com/Parallactic/callgov/star"><img src='https://img.shields.io/github/stars/Parallactic/callgov.svg?style=social&label=Star' /></a>
        <a href="https://github.com/Parallactic/callgov/watch"><img src='https://img.shields.io/github/watchers/Parallactic/callgov.svg?style=social&label=Watch' /></a>
	</p>
      </div>
      <div class='col-sm-6 col-md-3'>
	<p>
	  <a href="/pages/terms">Privacy Policy</a>
        &bull;
          <a href="https://github.com/Parallactic/callgov/issues/new"><i class='fa fa-github'></i> make a suggestion</a>
	  </p>
      </div>
      <div class='col-sm-6 col-md-3'>
	<p>
	  Powered by <a href="https://sunlightlabs.github.io/congress/">the Sunlight Congress API</a> &bull;<br />
	  Header image modified from <a href="https://www.flickr.com/photos/pbump/5214941272/">flickr user pbump</a>, used under <a href="https://creativecommons.org/licenses/by-sa/2.0/">	<%= image_tag 'cc-by-sa.png', :alt => 'cc-by-sa' %>
	  </a>
        </p>
      </div>
    </div>
  </div>
</footer>
